In [77]:
#Dependencies
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [78]:
#Extract Lower Meter CSV
Lower_Meter_path="Resources/FtUnionLower_Meters.csv"
lower_meter=pd.read_csv(Lower_Meter_path)
lower_meter.head()

,name,user_ref,Site_Name,Product_Name,MeterId
0,FT UNION LOWER,WY-BU-14-01H/V,BARRICADE UNIT 14-01 CP,GAS,49037053E
1,FT UNION LOWER,WY-B-21-11N1MH,BARRICADE 21-11N1MH,GAS,49037058E
2,FT UNION LOWER,WY-B-1496-S26-05V,BARRICADE 1496-S26-05V,GAS,49037065E
3,FT UNION LOWER,WY-B-1496-S26-16V,BARRICADE 1496-S26-16V,GAS,49037074E
4,FT UNION LOWER,WY-B-1496-S26-16V,BARRICADE 1496-S26-16V,GAS,49037093E

In [79]:
#Extract Upper Meter CSV
Upper_Meter_path="Resources/FtUnionUpper_Meters.csv"
upper_meter=pd.read_csv(Upper_Meter_path)
upper_meter.head()

,name,user_ref,Site_Name,Product_Name,MeterId
0,FT UNION UPPER,WY092,NORTH WEDGE 1-16,GAS,17714
1,FT UNION UPPER,WY092,NORTH WEDGE 1-16,GAS,17714C
2,FT UNION UPPER,WY-B-1595-S31-16V/11V,BARRICADE 1595-S31 CP,GAS,49037097E
3,FT UNION UPPER,WY-B-1595-S31-11V,BARRICADE 1595-S31-11V,GAS,49037103E
4,FT UNION UPPER,WY-B-1595-S31-16V,BARRICADE 1595-S31-16V,GAS,49037106E

In [80]:
#Extract SCADA CSV
SCADA_data_path="Resources/2020-12_FtUnion_SCADA.csv"
scada_data=pd.read_csv(SCADA_data_path)
scada_data.head()

,MeterId,Fac Id,Desc,Date,VolYdy,Casing,Tubing,Static
0,49037065E,BARCAD_1496_05V,Barricade 1496-S26-05V All-BLM,12/31/2020,171.34410,NaN,NaN,191.001200
1,49037065E,BARCAD_1496_05V,Barricade 1496-S26-05V All-BLM,12/30/2020,168.78860,NaN,NaN,202.324661
2,49037065E,BARCAD_1496_05V,Barricade 1496-S26-05V All-BLM,12/29/2020,128.84840,NaN,NaN,176.441960
3,49037065E,BARCAD_1496_05V,Barricade 1496-S26-05V All-BLM,12/28/2020,89.09632,NaN,NaN,189.576710
4,49037065E,BARCAD_1496_05V,Barricade 1496-S26-05V All-BLM,12/27/2020,174.53080,NaN,NaN,116.091437

In [81]:
#Extract PRAMS CSV
PRAMS_data_path="Resources/2020-12_FtUnion_PRAMS_dailies.csv"
prams_data=pd.read_csv(PRAMS_data_path)
prams_data.head()

        Date       Site Name  Total Gas Production  Gas Sales
0  12/1/2020  BARRICADE 11-7                 221.0      221.0
1  12/2/2020  BARRICADE 11-7                 218.0      218.0
2  12/3/2020  BARRICADE 11-7                 221.0      221.0
3  12/4/2020  BARRICADE 11-7                 230.0      230.0
4  12/5/2020  BARRICADE 11-7                 221.0      221.0

In [82]:
#Extract Gas Prices CSV
Gas_prices_path="Resources/Gas_Prices_Data.csv"
gas_prices=pd.read_csv(Gas_prices_path)
gas_prices.head()

,Weekly U.S. Regular All Formulations Retail Gasoline Prices,Unnamed: 1
0,https://www.eia.gov/dnav/pet/hist/LeafHandler....,NaN
1,18:00:38 GMT-0600 (Mountain Daylight Time),NaN
2,Source: U.S. Energy Information Administration,NaN
3,Week of,Weekly U.S. Regular All Formulations Retail Ga...
4,5/24/2021,3.02

In [83]:
#Transform & Join Meter CSV's - Joined the meter defining csv's
meter_combo=pd.concat([lower_meter, upper_meter])
meter_combo = meter_combo[["Site_Name", "MeterId"]]
meter_combo = meter_combo.rename(columns={"Site_Name":"Well_Name", "MeterId":"Meter_ID"})
meter_combo.head(100)

                            Well_Name   Meter_ID
0             BARRICADE UNIT 14-01 CP  49037053E
1                 BARRICADE 21-11N1MH  49037058E
2              BARRICADE 1496-S26-05V  49037065E
3              BARRICADE 1496-S26-16V  49037074E
4              BARRICADE 1496-S26-16V  49037093E
..                                ...        ...
46                 ENDURANCE 11-21-1V   91591405
47                 ENDURANCE 42-30-1V   91591406
48              BARRICADE 1595-S31 CP   91591409
49      ENDURANCE 1595-S32-29S NW1 CP   91591410
50  BARRICADE UNIT 44-1 SWD INFO ONLY   ANADARKO

[98 rows x 2 columns]

In [84]:
#Transform SCADA CSV
scada_data = scada_data[["Fac Id", "Date", "VolYdy", "MeterId"]]
scada_data = scada_data.rename(columns={"Fac Id":"Well_Name", "VolYdy":"Yesterdays_Gas_Production_Mcf", "MeterId":"Meter_ID"})
scada_data.head()

         Well_Name        Date  Yesterdays_Gas_Production_Mcf   Meter_ID
0  BARCAD_1496_05V  12/31/2020                      171.34410  49037065E
1  BARCAD_1496_05V  12/30/2020                      168.78860  49037065E
2  BARCAD_1496_05V  12/29/2020                      128.84840  49037065E
3  BARCAD_1496_05V  12/28/2020                       89.09632  49037065E
4  BARCAD_1496_05V  12/27/2020                      174.53080  49037065E

In [85]:
#Transform PRAMS CSV
prams_data = prams_data[["Date", "Site Name", "Total Gas Production"]]
prams_data = prams_data.rename(columns={"Site Name":"Well_Name", "Total Gas Production":"Total_Gas_Production_Mcf"})
prams_data.head()

        Date       Well_Name  Total_Gas_Production_Mcf
0  12/1/2020  BARRICADE 11-7                     221.0
1  12/2/2020  BARRICADE 11-7                     218.0
2  12/3/2020  BARRICADE 11-7                     221.0
3  12/4/2020  BARRICADE 11-7                     230.0
4  12/5/2020  BARRICADE 11-7                     221.0

In [86]:
#Transform Gas Prices CSV
gas_prices = gas_prices.rename(columns={"Weekly U.S. Regular All Formulations Retail Gasoline Prices":"Week_Of", "Unnamed: 1":"Avg_US_Gas_Price_$/Gal"})
gas_prices = gas_prices.drop([0,1,2,3])
gas_prices = gas_prices.reset_index(drop=True)

gas_prices.head()

     Week_Of Avg_US_Gas_Price_$/Gal
0  5/24/2021                   3.02
1  5/17/2021                  3.028
2  5/10/2021                  2.961
3   5/3/2021                   2.89
4  4/26/2021                  2.872

In [87]:
#Create Database Connection
from config import password
engine = create_engine(f'postgresql+psycopg2://postgres:{password}@localhost/etl_project_db')
con = engine.connect()

In [88]:
#Load Data Frames into Database
meter_combo.to_sql(name='meter_combo', con=engine, if_exists='append', index=False)
scada_data.to_sql(name='scada_data', con=engine, if_exists='append', index=False)
prams_data.to_sql(name='prams_data', con=engine, if_exists='append', index=False)
gas_prices.to_sql(name='gas_prices', con=engine, if_exists='append', index=False)

In [89]:
#Confirm Data Frames are in Database
engine.table_names()

['scada_data', 'gas_prices', 'prams_data', 'meter_combo']